.body{
    background-color: #001427;
}

/*nav*/
.navbar {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.navbar a.contact-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

/*nav*/
