.body{
    background-color: #001427;
}

/*nav*/
.nav-inicio{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #292424;
}
.nav-inicio:hover{
    color: #585a5cd6;    
}

.nav-pro{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #292424;
}
.nav-pro:hover{
    color: #585a5cd6;    
}

.nav-certifi{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #292424;
}
.nav-certifi:hover{
    color: #585a5cd6;    
}

.nav-estudios{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #292424;
}

.nav-estudios:hover{
    color: #585a5cd6;    
}

.nav-laboral{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #292424;
}

.nav-laboral:hover{
    color: #585a5cd6;    
}


.navbar {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    
}

.logo {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    margin-right: 20px;
    margin-left: 50px;
}

.navbar a.contact-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.navbar a.contact-button:hover {
    color: #191616;
}  
/*nav*/

/*secciones*/
section{
    color: #ffffff;
}
/*seccion 1*/
.inicio {
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}

.projects {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.project img {
    width: 200px; /* Ajusta el tamaño de las imágenes */
    border-radius: 10px;
}

.about-me {
    text-align: center;
    margin-bottom: 30px;
}

.skills {
    text-align: center;
    margin-bottom: 30px;
}

.skill img {
    width: 80px; /* Ajusta el tamaño de los iconos */
    margin: 10px;
}

.scroll-down {
    text-align: center;
}

.scroll-down img {
    width: 40px;
}
/*seccion 1*/
/*secciones*/
